   <main id="equipe"> 
    <section class="section-Title">
        <div>
            <h1> Conheça o Desenvolvedor </h1>
        </div>
    </section>

    
    <section id="imgCards" class="cards">
    
            <div class="card">
                <div class="image">
                        <img id="img-Dev" src="./assets/Danilo.jfif"/>
                </div>

                <div class="content">
                    <p class="title text--medium">
                       
                    </p>
                    <div class="info">
                       <p id="name-dev">Danilo Novaes</p><br>
                       <p id="role-dev">Desenvolvedor Fullstack</p><br>
                       <p id="text-dev">Cursando Análise e Desenvolvimento de Sistemas, em busca da primeira oportunidade de Estágio ou como Desenvolvedor Jr.</p><br>
                        <button class="btn-Linkedin">
                            <a href="https://www.linkedin.com/in/danilo-novaes-368a84231/" target="_blank"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                        </button>
                            <button class="btn-Github">
                            <a href="https://github.com/DaniloNovaes" target="_blank"><i class="fa-brands fa-github fa-3x"></i></a>
                            </button>
                    </div>
                </div>
            </div> 
    