<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">About</h2>
            <p class="footer__about-text">
               Site de E-commerce de produtos desenvolvido durante os estudos em Angular. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-solid fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
